.FAQ__section{
    display: flex;
    flex-direction: column;
}

.question {
    background-color: var(--color-blog);
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    margin-top: 2rem;
    min-height: 2rem;
}

.answer {
    background-color: lightblue;
    width: 100%;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin-top: 0.5rem;
    font-size: large;
    min-height: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}